---
---

@import "{{ site.theme }}";

.page-header {

    color: #fff;
    text-align: center;
    background-color: #8e2579;
    background-image: linear-gradient(180deg, #8e2579, #c9d630);

}

.main-content {

    max-width: 100rem;
    padding: 2rem 2rem;
    margin: 0 auto;
    font-size: 1.1rem;

}
